.custom__heroHeading___2dTDI {
  font-size: 2.6rem;
  white-space: pre;
}

.custom__hero___DFGVm {
  padding: 16rem 0 14rem;
}

.custom__buttonCustom___1A38h {
  border-radius: 100px;
  margin-right: 10px;
}

.custom__image___1MRNh {
  top: -17rem;
  right: 5rem;
  max-height: 510px;
  position: absolute;
  z-index: -1;
}

.custom__customContainer___ON_lB {
  text-align: left;
}.styles__section___1JHVi {
	padding: 20rem 0 19rem;
	text-align: center;
}

.styles__values___1V9yN {
	background-size: cover;
	color: #fff;
}

.styles__valueMultiplier___-YjC- {
	margin-bottom: .5rem;
	color: #11DFC7;
}

.styles__valueHeading___3FiE1 {
	marginBottom: .3rem;
}

.styles__valueDescription___3Udem {
	opacity: .8;
	font-weight: 300;
}.styles__zoomImage___1sF3X {
	max-height: 800px;
	max-width: 800px;
}.styles__section___xf-aE {
	padding: 20rem 0 19rem;
	text-align: center;
}

.styles__values___-N1bj {
	background-size: cover;
	color: #fff;
}

.styles__valueMultiplier___3tV69 {
	margin-bottom: .5rem;
	color: #11DFC7;
}

.styles__valueHeading___3Mtf4 {
	marginBottom: .3rem;
}

.styles__valueDescription___2E1Zl {
	opacity: .8;
	font-weight: 300;
}

.styles__getHelp___Y1PKm {
	border-bottom: 1px solid #ddd;
}

.styles__sectionHeading___1o8sp {
	margin-bottom: 1.2rem;
}

.styles__sectionDescription___1VThF {
	max-width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.2rem;
	white-space: pre;
}

.styles__customButton___ROfTH {
	border-radius: 100px;
	margin-left: 10px;
}

.styles__categories___2s0Js {
	background-size: cover;
	color: #fff;
}

.styles__categoriesHeader___FA5GF {
	margin-bottom: 1.2rem;
}

.styles__categoriesDescription___2wQln {
	margin-bottom: 4rem;
	max-width: 60%;
	margin-left: auto;
	margin-right: auto;
}