.section {
	padding: 20rem 0 19rem;
	text-align: center;
}

.values {
	background-size: cover;
	color: #fff;
}

.valueMultiplier {
	margin-bottom: .5rem;
	color: #11DFC7;
}

.valueHeading {
	marginBottom: .3rem;
}

.valueDescription {
	opacity: .8;
	font-weight: 300;
}

.getHelp {
	border-bottom: 1px solid #ddd;
}

.sectionHeading {
	margin-bottom: 1.2rem;
}

.sectionDescription {
	max-width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.2rem;
	white-space: pre;
}

.customButton {
	border-radius: 100px;
	margin-left: 10px;
}

.categories {
	background-size: cover;
	color: #fff;
}

.categoriesHeader {
	margin-bottom: 1.2rem;
}

.categoriesDescription {
	margin-bottom: 4rem;
	max-width: 60%;
	margin-left: auto;
	margin-right: auto;
}